#gamemenuButton{
    -fx-text-fill:#6c73ee;
    -fx-background-color: transparent;
    -fx-padding: 3 0;
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

#gamemenuButton:hover{
    -fx-text-fill: #fdfdfd;
}